@import url('https://fonts.googleapis.com/css?family=Poppins:wght@200;400;700&display=swap');

body {
    background-color: #1C6EA4;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    padding-top: 600px; /* Add top padding to create space for the fixed header */
    margin: 0;
}

h1 {
    text-align: center;
}

h2 {
    color: #ffffff;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

input[type=text] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

select {
  width: 10%;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

.currWeather {
    width: 100%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.curr {
    display: inline-block;
    vertical-align: top;
    margin: 10px 10px;
    height: 165px;
    width: 125px;
}

.forecast-container {
    width: 100%;
    text-align: center;
    overflow-y: auto;


}

.forecast-day {
    flex: 0 0 20%;
    vertical-align: top;
    text-align: justify;        /* Needed by IE */
    text-align-last: justify;
    -moz-text-align-last: justify;
    padding: 3px;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.box {
    display: inline-block;
    width: 150px;
    padding: 5px
    text-align: center;
    margin: auto;
}

.box2 {
    border: 2px solid #1C6EA4;
    padding: 5px;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}